<section class="main-section">
  <div class="cards-container">
    <div class="card guides">
      <h2 class="title">
        <%= image_tag "book.svg" %>
        Guides
      </h2>
      <ul class="section-links">
        <li><a href="#">Architecture and Workflow</a></li>
        <li><a href="#" class="disabled">Integrating your application</a></li>
      </ul>
    </div>
    <div class="card api">
      <h2 class="title">
        <%= image_tag "stack.svg" %>
        API Reference
      </h2>
      <div class="api">
        <h3>Public API</h3>
        <ul class="section-links">
          <li><a href="/api.html#authentication">Auth API</a></li>
          <li><a href="/api.html#events">Event API</a></li>
          <li><a href="/api.html#impact">Impact API</a></li>
          <li><a href="#" class="disabled">Governance API</a></li>
        </ul>

        <h3>Internal API</h3>
        <ul class="section-links">
          <li><a href="/internal-api.html">API</a></li>
        </ul>
      </div>

      <div class="models">
      <h3>Models</h3>
        <ul class="section-links">
          <li><a href="/api.html#user">User</a></li>
          <li><a href="/api.html#event">Merchant</a></li>
          <li><a href="/api.html#merchant">Event</a></li>
        </ul>
      </div>
    </div>
    <div class="card sdks">
      <h2 class="title sdks">
        <%= image_tag "SDK.svg" %>
        SDKs
      </h2>
      <ul class="section-links">
        <li><a href="#" class="disabled">Ruby</a></li>
        <li><a href="#" class="disabled">Javascript</a></li>
        <li><a href="#" class="disabled">Android</a></li>
        <li><a href="#" class="disabled">iOS</a></li>
      </ul>
    </div>
    <div class="card blockchain">
      <h2 class="title">
        <%= image_tag "blockchain.svg" %>
        Blockhain & Governance
      </h2>
      <ul class="section-links">
        <li><a href="#" class="disabled">How it works</a></li>
        <li><a href="#" class="disabled">Blockchain Observer</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="api-key-section">
  <div id="particles-background-2"></div>
  <div class="call-to-action-container">
    <a href="" class="call-to-action">
      Get your API Key!
    </a>
  </div>
</section>

<section class="secondary-section">
  <div class="cards-container">
    <div class="card">
      <h2><a href="#">Poi Connect</a></h2>
    </div>
    <div class="card">
      <h2><a href="#">Bounty Program</a></h2>
    </div>
  </div>
</section>