<section>
  <div class="cards-container">
    <div class="card">
      <h2 class="title">Guides</h2>
    </div>
    <div class="card">
      <h2 class="title">API Reference</h2>
    </div>
    <div class="card">
      <h2 class="title">SDKs</h2>
    </div>
    <div class="card">
      <h2 class="title">Blockhain & Governance</h2>
    </div>
  </div>
</section>

<section>
  <div class="call-to-action">
    Get your API Key!
  </div>
</section>

<section>
  <div class="dual-cards-container">
    <div class="card">
    </div>
    <div class="card">
    </div>
  </div>
</section>